:root{
    --color-1: #2f3240;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #e8eef3;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
/* header */
.header{
    background-color: var(--color-1);
    padding: 12px;
    line-height: 1.5;
}
.header .logo,
.header .nav{
    padding: 0 15px;
}
.header .logo a{
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
}
.header .nav ul li{
    display: inline-block;
    margin-left: 40px;
}
.header .nav ul li a{
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    padding: 10px 0;
    transition:  all 0.5s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: #f3a93d;
}